<div class="row">
  <div class="col-sm-3">
    <div class="card shadow" style="width: 18rem; opacity: 0;" data-animation="fade-in">
      <img src="../../../../assets/img/image1.jpg" class="card-img-top shadow-sm" alt="...">
      <div class="card-body">
        <h5 class="card-title">نظام تسجيل زائر</h5>
        <a [routerLink]="['fea1/dashboard']" class="btn btn-primary">دخول</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card shadow" style="width: 18rem; opacity: 0;" data-animation="fade-in">
      <img src="../../../../assets/img/image1.jpg" class="card-img-top shadow-sm" alt="...">
      <div class="card-body">
        <h5 class="card-title">نظام تسجيل زائر</h5>
        <a [routerLink]="['fea2/dashboard']" class="btn btn-primary">دخول</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card shadow" style="width: 18rem; opacity: 0;" data-animation="fade-in">
      <img src="../../../../assets/img/image1.jpg" class="card-img-top shadow-sm" alt="...">
      <div class="card-body">
        <h5 class="card-title">نظام تسجيل زائر</h5>
        <a [routerLink]="['fea3/dashboard']" class="btn btn-primary">دخول</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card shadow" style="width: 18rem; opacity: 0;" data-animation="fade-in">
      <img src="../../../../assets/img/image1.jpg" class="card-img-top shadow-sm" alt="...">
      <div class="card-body">
        <h5 class="card-title">نظام تسجيل زائر</h5>
        <a href="#" class="btn btn-primary">دخول</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 pt-3">
    <div class="card shadow" style="width: 18rem; opacity: 0;" data-animation="fade-in">
      <img src="../../../../assets/img/image1.jpg" class="card-img-top shadow-sm" alt="...">
      <div class="card-body">
        <h5 class="card-title">نظام تسجيل زائر</h5>
        <a href="#" class="btn btn-primary">دخول</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 pt-3">
    <div class="card shadow" style="width: 18rem; opacity: 0;" data-animation="fade-in">
      <img src="../../../../assets/img/image1.jpg" class="card-img-top shadow-sm" alt="...">
      <div class="card-body">
        <h5 class="card-title">نظام تسجيل زائر</h5>
        <a href="#" class="btn btn-primary">دخول</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 pt-3">
    <div class="card shadow" style="width: 18rem; opacity: 0;" data-animation="fade-in">
      <img src="../../../../assets/img/image1.jpg" class="card-img-top shadow-sm" alt="...">
      <div class="card-body">
        <h5 class="card-title">نظام تسجيل زائر</h5>
        <a href="#" class="btn btn-primary">دخول</a>
      </div>
    </div>
  </div>



</div>
<style>
  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  [data-animation="fade-in"] {
    animation: fade-in 1s ease-in-out forwards;
  }

  [data-animation="slide-in-left"] {
    animation: slide-in-left 1s ease-in-out forwards;
  }
</style>