



<div class="footer-border"> 
<footer class="footer">
        
    <div class="container footer-container">
        
    <div class="footer-left">
      <a routerLink="/">البوابة الإلكترونية </a> | <a routerLink="/about">سياسة الخصوصية </a> | <a routerLink="/">شروط الاستخدام </a> | <a routerLink="/">الأسئلة الشائعة </a> | <a routerLink="/contact"> تواصل معنا </a>
    </div>
    <div class="footer-right">
      <span>جميع الحقوق محفوظة للهيئة العامة للعناية بشؤون المسجد الحرام والمسجد النبوي © 2024 م | 1446 هـ</span>
    </div>
    
    </div>
  </footer>
  
</div>
