<actionBar (newAction)="newClick()" (editAction)="edit()" (saveAction)="save()" (deleteAction)="delete()"
  (cancelAction)="reset()" (showNew)="showNew" (showEdit)="showEdit" (showSave)="showSave" (showDelete)="showDelete"
  (showCancel)="showCancel" (showPrint)="showPrint">
</actionBar>
<MK-button type="submit" (onClick)="show()">
  <!--(click)="signin()"-->
  {{ 'SHD_SIGN_IN' | translate }}
</MK-button>

<MK-checkbox name="all" [(checked)]="allApplicationSelected">
  {{ 'SHD_SIGN_IN' | translate }}
</MK-checkbox>
<div class="col-16">
  <MK-label name="lblID">{{ 'FGL_BANK'| translate}}</MK-label>
</div>
<!-- <div class="col-16">
  <MK-textbox name="lblID">{{ 'FGL_BANK'| translate}}</MK-textbox>
</div>  -->

<form>
  <MK-datatable [columns]="debitSideColumns" [data]="data" (onEditAction)="onEditAction($event)"
    (onDeleteAction)="onDeleteAction($event)">
  </MK-datatable>
</form>