<head>
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>

<!-- <header class="header">
    <div class="container">
        <a href="#" id="btn-toogle" class="btn-menue" (click)="togglesidebar()">
            <img src="../../../assets/images/menu.png" width="24" height="24" />
        </a>
    </div>
</header> -->

<div class="sidebar">
  <!-- <button class="btn-log">
      <img src="../../../assets/images/login.svg"/>
      <span>تسجيل الدخول</span>
  </button> -->
  <div *ngIf="user$ | async as user; else loggedOutTemplate" class="select-menu" (clickOutside)="closeMenu()"
    [class.active]="menuOpen">
    <div class="select-btn" (click)="toggleMenu()" [class.active]="menuOpen">
      <img src="assets/images/avatar.svg">
      <div class="data">
        <span class="sBtn-tex">مرحبا بك،
          <span>{{user.fullNameArabic}}</span>
          <span>{{user.fullNameArabic}}</span>
        </span>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-down"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
      </svg>

    </div>

    <ul class="options">
      <li class="option">
        <span class="option-text">الملف الشخصي</span>
      </li>
      <hr>
      <li class="option" #logoutButton>
        <span class="option-text logout">تسجيل الخروج</span>
      </li>
    </ul>
  </div>

  <ng-template #loggedOutTemplate>
    <button (click)="openDialog()">Login</button>
  </ng-template>

  <hr>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <img src="assets/images/icon.svg" width="9%" height="9%" />
          الخدمات الإلكترونية
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li class="active"><a style="color: #25343F;" class="active"
                (click)="onItemClick('كافة الخدمات', '1', 'كافة الخدمات/كافة الخدمات')">كافة الخدمات</a></li>
            <li><a (click)="onItemClick('خدمات المسجد الحرام', '2', 'كافة الخدمات/خدمات المسجد الحرام')">خدمات
                المسجد الحرام</a></li>
            <li><a (click)="onItemClick('خدمات المسجد النبوي', '3', 'كافة الخدمات/خدمات المسجد النبوي')">خدمات
                المسجد النبوي</a></li>

          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          <img src="assets/images/icon-2.svg" width="10%" height="10%" />
          طلباتي
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul>
            <li><a href="#" (click)="onItemClick('  تصاريحي', '4', 'طلباتي/تصاريحي')">تصاريحي</a></li>
            <li><a href="#" (click)="onItemClick('  معاملاتي', '5', 'طلباتي/معاملاتي')">معاملاتي</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
<!-- <script>
    const optionMenu = document.querySelector(".select-menu"),
    selectBtn = optionMenu.querySelector(".select-btn");
    selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));
 </script> -->