<div class="login-component">

  <div class="login-container">
    <form class="login-form">

      <div class="top-login">تسجيل الدخول</div>

      <div class="input-group">
        <label for="id-number">رقم الهوية / الإقامة</label>
        <input class="form-control" id="name" name="name" [(ngModel)]="userName" type="text" placeholder="Email"
          autofocus>
      </div>
      <div class="input-group">
        <label for="password">كلمة المرور</label>
        <a href="#" class="forgot-password">نسيت كلمة المرور</a>
        <input class="form-control" id="pass" name="pass" [(ngModel)]="password" type="password" placeholder="Password">
      </div>
      <button type="submit" class="login-btn" (click)="login()">تسجيل الدخول</button>
      <div class="or">أو</div>
      <button type="button" class="national-access-btn">تسجيل الدخول عن طريق النفاذ الوطني</button>

    </form>
  </div>
</div>